/*
	For Jcloud-DevOps Git Page
	Free for personal and commercial use under the CCA 3.0 license
*/
@import url(../fonts/nanumbarungothic.css);

html, body {
    font-family: 'Nanum Barun Gothic', 'Malgun Gothic', sans-serif;
}

.profile {
	text-align: center;
}
.profile .hov_img {
    display: block;
	width: 100%;
	max-width: 220px;
    height: 220px;
	border-radius: 50%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto 1em auto;
    transition: opacity .5s;
    opacity: 0.75;
    filter: alpha(opacity=75); /* For IE8 and earlier */
}
.profile h3, p {
	font-weight: normal;
	text-align: center;
	margin: 0 auto;
}
.profile .hov_img:hover, .profile .hov_img:focus {
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}

#logo {
    position: relative;
    height: 25px;
}

#logo img.logo {
    position: absolute;
    top: 3px;
    left: 0;
    width: 93px;
    height: auto;
}

#logo span.cc {    
    position: absolute;
    top: 0px;
    left: 105px;
    font-family: 'Lato', monospace, serif;
}

#banner .inner header h2 > img {
    max-width: 200px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 0.5em 0;
}

header.special h2 {
    font-weight: 500;
}

#banner {
    min-height: 700px;
    height: 100vh;
}

#banner .point-down {
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: .5em;
    font-size: 1.5em;
}

#banner .point-down i.pointer {
    animation-duration: 2s;
    animation-name: wave;
    animation-iteration-count: infinite;
}

@keyframes wave {
    from {
        padding-bottom: 0;
    }

    50% {
        padding-bottom: 1em;
    }

    to {
        padding-bottom: 0;
    }
}